<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fkip</title>
</head>
<body>
    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari:</h2>
    <p>Bimbingan Dan Konseling</p>
    <p>Pendidikan Bahasa Indonesia</p>
    <p>Pendidikan Bahasa Inggris</p>
    <p>Pendidikan Biologi</p>
    <p>Pendidikan Fisika</p>
    <p>Pendidikan Guru Pendidikan Anak Usia Dini</p>
    <p>Pendidikan Guru Sekolah Dasar</p>
    <p>Pendidikan Ilmu Pengetahuan Alam</p>
    <p>Pendidikan Khusus</p>
    <p>Pendidikan Kimia</p>
    <p>Pendidikan Matematika</p>
    <p>Pendidikan Non Formal</p>
    <p>Pendidikan Pancasila dan Kewarganegaraan</p>
    <p>Pendidikan Sejarah</p>
    <p>Pendidikan Seni Pertunjukan</p>
    <p>Pendidikan Sosiologi</p>
    <p>Pendidikan Vokasional Teknik Elektro</p>
    <p>Pendidikan Vokasional Teknik Mesin</p>
    <p>Pendidikan Profesi Guru</p>
    
</body>
</html>