<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fk</title>
</head>
<body>
    <h1>FAKULTAS KEDOKTERAN</h1>
    <h2>Terdiri dari:</h2>
    <p>Keperawatan</p>
    <p>Gizi</p>
    <p>Ilmu Keolahragaan</p>
    <p>Kedokteran</p>
    <p>Keperawatan</p>
    <p>Pendidikan Profesi Dokter</p>
    <p>Pendidikan Profesi Ners</p>
    
</body>
</html>